<aside class="menu">
    <h5>Categories</h5>
    <ul>

        <li>Technical</li>
        <li>Hardware</li>
        <li>Software</li>

    </ul>
</aside>

<main>
    <div class="card-log">
        <div class="title">This is the title</div>
        <p>The content for this log is here</p>
        <button class="btn-card-open">Open</button>
    </div>
</main>