<form action="#">
    <button class="btn btn-ghost">
        <img src="/img/google.png" alt="Google Logo">

        Log in with Google
 
    </button>

    <small>or</small>

    <div class="form-control">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Enter your email">
    </div>
    
    <div class="form-control">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password">
    </div>
    
    <div class="checkbox-container">
        <input type="checkbox" name="remember" id="remember">
        <label for="remember">Remember me</label>

        <a href="#">Forgot Password</a>
    </div>

    <button class="btn">Log In</button>

    <small>Don't have and account? <a href="#">Sign up</a></small>
    
</form>

<div class="features">
    <div class="feature">
        <i class="fas fa-code"></i>
        <h3>Development</h3>
        <p>This app is under continuous development, so expect it to regularly change.</p>
    </div>
    <div class="feature">
        <i class="fas fa-gift"></i>
        <h3>Features</h3>
        <p>Login using the same credentials to all our apps and access them all online.</p>
    </div>
    <div class="feature">
        <i class="fas fa-edit"></i>
        <h3>Updates</h3>
        <p>Expect this app to be constantly updated and new features implemented weekly.</p>
    </div>
</div>