* {
    box-sizing: border-box;
}

body {
    background-color: #f7f8fc;
    color: #151c2c;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    border-radius: 3px;
    border: 20px solid #dce7ff;
    width: 1000px;
    max-width: 100%;
    display: flex;
    /* box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1); */
}

.menu {
    display: flex;
    flex: 1;
}

main {
    display: flex;
    flex: 5;
}